body, .container, .row, .col {
    margin: 0;
    padding: 0;
}

p { 
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(231, 224, 224);
}

a { 
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

#pg1, #pg2, #pg3, #pg4, #pg5, #pg6, #pg7, #pg8, #pg9 {
    height: 110vh;
    width: auto;
    margin: 0;
    padding: 0;
}

#pg1 {
    height: 100vh;
    background-color: #F29E4C;
}

#pg1 h1, #pg2 h1, #pg3 h1, #pg4 h1, #pg5 h1, #pg6 h1, #pg7 h1, #pg8 h1, #pg9 h1 {
    padding-top: 5vh;
    padding-bottom: 3vh;
    text-align: center;
    font-size: 2em;
}

#pg2, #pg2 p {
    background-color:#F1C453;
}

#pg1 h1{font-family: 'Flavors', cursive;}

#pg2 h1{
    font-family: 'Mystery Quest', cursive; 
    font-weight: 900; color: rgb(64, 117, 196);
}

#pg3 {background-color:#EF476F;}

#pg4 {background-color: #D1105A;}

#pg5 {background-color:#54478C;}

#pg6, #pg6 p {background-color: #2C699A;}

#pg7, #pg7 p {background-color: #048BA8;}

#pg8 {background-color: #0DB39E;}

#pg9 {background-color: #16DB93;}

#pg10 {background-color: #16DB93;}

#pg8 h1 {font-family: 'Mystery Quest', cursive;}

#pg9 h1{
    font-family: 'Libre Barcode 128 Text', cursive; 
    font-size: 600%; 
    margin-top: 70%; 
    color: rgb(236, 223, 223);
}

#pg1 figure {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-image: url('IMG/img1.jpg');
    background-size: cover;
    background-position: -10%;
    border: solid 3px rgb(233, 76, 14);
    margin: 25px auto;
}

#pg2 figure {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-image: url('IMG/img2.jpg');
    background-size: 100%;
    background-position: 50% ;
    background-repeat: no-repeat;
    border: outset 5px rgb(64, 117, 196);
    margin: 25px auto;
}


#pg3 figure {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    background-image: url('IMG/img3.jpg');
    background-size: cover;
    background-position: -10%;
    border: groove 8px #c2b9e9;
    margin: 25px auto;
}

#pg4 figure {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-image: url('IMG/img4.jpeg');
    background-size: cover;
    border: double 10px rgb(255, 255, 255);
    margin: 25px auto;
}

#pg5 figure {
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-image: url('IMG/img5.jpg');
    background-size: cover;
    border: solid 2px rgb(255, 255, 255);
    margin: 25px auto;
}

#pg6 figure {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    background-image: url('IMG/img6.jpg');
    background-size: cover;
    border: dashed 3px rgb(150, 126, 236);
    margin: 25px auto;
}

#pg7 figure {
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background-image: url('IMG/img7.jpg');
    background-size: cover;
    border: solid 2px #ccc;
    margin: 25px auto;
}

#pg8 figure {
    width: 250px;
    height: 220px;
    border-radius: 10%;
    background-image: url('IMG/img8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: dashed 3px #ccc;
    margin: 25px auto;
}

#pg9 figure {
    width: 50px;
    height: 220px;
    border-radius: 10%;
    background-image: url('IMG/img8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: dashed 3px #ccc;
    margin: 25px auto;
}


